package main

import (
	"log"
	"net/http"
	"{{ .Module }}/internal/routes"
)

func main() {
	mux := http.NewServeMux()
	routes.Register(mux)
	log.Println("listening on :8080")
	log.Fatal(http.ListenAndServe(":8080", mux))
}
